.container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  color: #333;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-container {
  text-align: left;
  margin-bottom: 15px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.copy-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-text {
  white-space: pre-wrap;
  text-align: left;
}
